
<h1>Dank reviews</h1>

<%= form_for [@product, @review] do |f| %>
  New Review:
  <ul>
      <li>
        <%= f.label :description %>
        <%= text_area_tag :description %>
        <%= f.label :rating %>
        <%= f.select :rating, ['1', '2', '3', '4', '5']%>
        <%= f.submit "Submit" %>
      </li>
  </ul>
<% end %>

<table>
  <tr>
    <th>Description</th>
    <th>Rating</th>
  </tr>

  <% @product.reviews.each do |review| %>
  <!-- review.product_id is type Fixnum while params[:id] is type String -->
    <tr>
      <td><%= review.description %></td>
      <td><%= review.rating %></td>
    </tr>
  <% end %>
</table>