
<h1>Dank reviews</h1>

<% if current_user %>
  <%= form_for [@product, @review] do |f| %>
    New Review:
    <ul>
      <li>
        <%= f.label :description %>
        <%= f.text_area :description %>
        <%= f.label :rating %>
        <%= f.select :rating, ['1', '2', '3', '4', '5'] %>
        <%= f.submit "Submit" %>
      </li>
    </ul>
  <% end %>
<% else %>
  LOGIN TO POST A REVIEW
<% end %>

<table>
  <tr>
    <th>User</th>
    <th>Description</th>
    <th>Rating</th>
  </tr>

  <% @product.reviews.reverse_order.each do |review| %>
  <!-- review.product_id is type Fixnum while params[:id] is type String -->
    <tr>
      <td><%= review.user.first_name %></td>
      <td><%= review.description %></td>
      <td><%= review.rating %></td>
  <% end %>
</table>